/* ***************NAVIGATION**************** */
/* **************************************** */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;

  width: 100%;
  height: 8rem;
  padding: 0 4rem;
}

.div-nav {
  display: flex;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  list-style: none;
}

.nav-links a:link,
.nav-links a:visited {
  display: inline-block;
  /* color: #333; */
  color: #fff;
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #999, 1px 1px 0 #999, 1px 1px 0 #000;
  font-weight: 500;

  margin-right: 5rem;
  text-decoration: none;

  transition: all 0.3s;
}

.nav-links a:hover,
.nav-links a:active {
  color: #dc2f02;
  text-shadow: none;
}

/* ***************HERO SECTION**************** */
/* **************************************** */
header {
  position: relative;
}

.hero-img {
  max-width: 100%;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 25%;
  right: 15%;

  max-width: 600px;

  color: #fff;
  line-height: 1.2;
  text-shadow: 3px 1px 7px rgba(0, 0, 0, 0.27);
}

.hero-title {
  font-size: 6.2rem;
}

.hero-para {
  font-size: 2.4rem;
}

/* ***************SERVICES SECTION**************** */
/* **************************************** */
#section-services {
  padding-bottom: 5rem;
}

.services-grid {
  /* max-width: 80%; */
  margin: 0 20%;
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  column-gap: 4rem;
  row-gap: 3rem;

  justify-items: center;
  align-items: center;
}

.service-text h1 {
  font-size: 5.2rem;
  color: #aaa;
  line-height: 1.05;
}

.service-text h2 {
  font-size: 3.6rem;
}

.service-text p {
  margin-top: 1rem;
  font-size: 2rem;
}

.service-text a:link,
.service-text a:visited {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.8rem;
  line-height: 2;
  color: #dc2f02;
  text-decoration: none;
}

.service-text a:hover,
.service-text a:active {
  text-decoration: underline;
}

.service-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ***************HOW IT WORKS SECTION**************** */
/* **************************************** */
.section-how_it_works {
  background-color: #fff;
  display: block;
  padding-top: 0.1rem;
  padding-bottom: 10rem;
}

.how_it_works-grid {
  margin: 0 20%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8rem;

  text-align: center;
}

.plan {
  background-color: #eee;
  border-radius: 0.3rem;

  padding: 4rem 2rem;
}

.icon {
  font-size: 8rem;
  --ionicon-stroke-width: 16px;
}

.plan p {
  font-size: 1.4rem;
}

.plan a {
  display: inline-block;
  margin-top: 2rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  background-color: #4eb8f5;
  font-weight: 600;
  border-radius: 0.5rem;
}

/* ***********OUR CUSTOMERS SECTION*********** */
/* **************************************** */
.section-customers {
  overflow: hidden;
  position: relative;
}

.bg-image {
  background-image: url("/images/dog-and-cat.jpg");

  filter: brightness(80%) blur(3px);
  -webkit-filter: brightness(80%) blur(3px);

  background-size: cover;
  background-position: center;

  height: 75rem;
  max-width: 100%;
}

.heading-light {
  color: #fff;
  text-shadow: 3px 1px 7px rgba(0, 0, 0, 0.27);
}

.customers-detail {
  position: absolute;
  top: 0;

  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.customer-container {
  display: flex;
  gap: 4rem;
  margin-bottom: 8rem;

  padding: 3rem 4rem;
  background-color: #eee;
  opacity: 80%;
  transform: skewX(-20deg);
}

.customer-container h2 {
  transform: skewX(20deg);
}

.customer-img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  transform: skewX(20deg);
}

.customer-text {
  transform: skewX(20deg);
  font-size: 1.8rem;
}

.customer-text h4 {
  text-align: right;
}
