/* ***************NAVIGATION**************** */
/* **************************************** */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;

  width: 100%;
  height: 8rem;
  padding: 0 4rem;
}

.div-nav {
  display: flex;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  list-style: none;
}

.nav-links a:link,
.nav-links a:visited {
  display: inline-block;
  /* color: #333; */
  color: #fff;
  text-shadow: 1px 1px 0 #999, 1px 1px 0 #999, 1px 1px 0 #999, 1px 1px 0 #000;
  font-weight: 500;

  margin-right: 5rem;
  text-decoration: none;

  transition: all 0.3s;
}

.nav-links a:hover,
.nav-links a:active {
  color: #dc2f02;
  text-shadow: none;
}

/* ***************HERO SECTION**************** */
/* **************************************** */
header {
  position: relative;
}

.hero-img {
  max-width: 100%;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 25%;
  right: 15%;

  max-width: 600px;

  color: #fff;
  line-height: 1.2;
  text-shadow: 3px 1px 7px rgba(0, 0, 0, 0.27);
}

.hero-title {
  font-size: 6.2rem;
}

.hero-para {
  font-size: 2.4rem;
}
