.serviceHeader {
  position: relative;
  height: 75vh;
}

.serviceBackgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.serviceTextContainer {
  position: absolute;
  top: 40%;
  left: 10%;
  color: white;
}

.hightLightServiceText {
  color: #dc2f02;
}

.serviceWelcomeText {
  border-left: 2px solid #dc2f02;
  font-size: 2.4rem;
}

.serviceText {
  font-size: 6.2rem;
}

.serviceTextButtons {
  padding-top: 20px;
}

.serviceInfoContainer {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.serviceInfoText {
  font-size: 4.4rem;
}

.serviceMainRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
}

.serviceMainColumn {
  flex: 100%;
  padding: 10px;
}

.card {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  */
  transition: 0.3s;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border-radius: ;1rem
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:; */
}

.cardImg {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.card:hover {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 10px;
  height: 20rem;
  overflow: auto;
}

/* hide scrollbar in container */
::-webkit-scrollbar {
  width: 0px;
}

.cardHeaderText {
  font-size: 3.6rem;
  line-height: 2;
}

.cardParagraph {
  font-size: 1.8rem;
  line-height: 1.2;
  text-align: justify;
}

/* Pricing css */
.pricingContainer {
  width: 100%;
  padding: 2rem;
}

.planHeader {
  text-align: center;
  padding: 4rem 0;
  font-size: 4.4rem;
}

.bottom-space {
  margin-bottom: 40px;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: center;
}

th {
  font-size: 3rem;
  padding: 1.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  font-size: 1.8rem;
  padding: 1.5rem;
}

/* Pricing css */

@media only screen and (min-width: 600px) {
  .serviceMainRow {
    padding: 0 10%;
  }

  .serviceMainColumn {
    flex: 50%;
  }
}

@media only screen and (min-width: 1280px) {
  .serviceMainRow {
    padding: 0 20%;
  }

  .serviceMainColumn {
    flex: 50%;
  }
}
